{% extends "base.html" %}

{% block title%} Welcome {% endblock %}
{% block content %}
    <h1>welcome to meeting planner</h1>
    <p>This is meeting apllication made by django</p>

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}">

            {{meeting.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div id="link">
        <a href="{% url 'rooms'%}">Roomslist</a>
        <a href="{% url 'new'%}">create meeting</a>
    </div>
    

    
{% endblock %}